.Nav-container{
    height: 8rem;
    background-color: rgb(35, 5, 109);
    margin :0;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;   
}
.Link-nav{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
